* {
  box-sizing: border-box;
}

body {
  background-color: #e2e2e2;
     /*font-family: 'Raleway', sans-serif; */
  /*font-family: 'Open Sans', sans-serif; */
  /*   font-family: 'Montserrat', sans-serif; */
  /*   font-family: 'Merriweather', serif; */
  /*   font-family: 'Droid Sans', sans-serif; */
  font-family: 'ABeeZee', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.play-container {
  flex-basis: 100%;
  display: flex;
}



/*---------------- START NAVBAR ----------------*/
.navbar {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  background-color: #283593;
  /*height: 20%;*/
}

.nav-logo {
  width: auto;
  height: 50px;
  margin-left: 1rem;
}

.nav-name {
  width: auto;
  height: 50px;
  margin-left: 1rem
}
/*---------------- END NAVBAR ----------------*/



/*---------------- START DRAG AND DROP ----------------*/
.drag-container-wrapper {
  display: flex;
  /*flex-direction: column;*/
  /*flex-basis: 50%;*/
}

.drag-container {
  /*display: none;*/
  display: flex;
  flex-basis: 40%;
  /*flex-direction: column;*/
  /*margin: 0;*/
  /*flex-wrap: wrap;*/
}

.draggable-items {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.action-list,
.programming-list,
.drop-zone-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.action-container {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  background-color: #feeee7;
}

.action-header {
  text-align: center;
  font-weight: 700;
}

.action-list li {
  background-color: #f47a42;
  text-align: center;
  width: 80%;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem auto;
  color: #fff;
}

.programming-container {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  background-color: #e7f0fe;
}

.programming-header {
  text-align: center;
  font-weight: 700;
}

.programming-list li {
  background-color: #4286f4;
  text-align: center;
  width: 80%;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem auto;
  color: #fff;
}

.drop-zone-container {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  background-color: #fff;
}

.drop-zone-header {
  text-align: center;
  background-color: #fff;
}

.drop-zone li {
  background-color: green;
  text-align: center;
  width: 80%;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem auto;
  color: #fff;
}

.drop-zone-item {
  /*display: none; */
  width: 80%;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem auto;
  /*background-color: rgba(38, 12, 12, .10);*/
}

.drop-zone-program {
  background-color: green;
  text-align: center;
  width: 80%;
  border-radius: 10px;
  padding: .5rem;
  margin: 1rem auto;
  color: #fff;
}
/*---------------- START DRAG AND DROP ----------------*/




button {
  text-align: right;
  border: 2px solid #0277bd;
  background: #0277bd;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  font-weight: 400;
}

.konva-container {
  flex-basis: 60%;
  /*display: none;*/
}

#play-button {
  padding: 10px 15px;
  margin-right: 10px;
}

#restart-button {
  padding: 10px 15px;
}
