* {
  box-sizing: border-box;
}

body {
  background-color: #2f5bb7;
     /*font-family: 'Raleway', sans-serif; */
  /*font-family: 'Open Sans', sans-serif; */
  /*   font-family: 'Montserrat', sans-serif; */
  /*   font-family: 'Merriweather', serif; */
  /*   font-family: 'Droid Sans', sans-serif; */
  font-family: 'ABeeZee', sans-serif;
}

.app-container {
  /*flex-basis: 100%;*/
  /*max-height: 1100px;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}



/*---------------- START NAVBAR ----------------*/
.navbar {
  display: flex;
  /*flex-basis: 10%;*/
  align-items: center;
  background-color: #2f5bb7;
  /*border-top: 1px solid white;
  border-bottom: 1px solid white;*/
  /*height: 200px;*/
  padding: 1rem;
  justify-content: space-between;
}

.nav-logo {
  width: auto;
  height: 50px;
  margin-left: 1rem;
}

.nav-name {
  width: auto;
  height: 50px;
  margin-left: 1rem
}

.logo-container {

}

.login-form {
  color: #fff;
}

/*.login-form label {
  margin-right: 1rem;
}*/

.login-form input {
  margin: 0 2rem 0 .5rem;
  border-radius: 5px;
  padding: .25rem;
  border: none;
}

.login-form button,
.whoami button {
  padding: .25rem 1rem;
  border: 1px solid #fff;
}

.whoami {
  color: #fff;
}

.whoami span {
  margin-right: 1rem;
}

/*---------------- END NAVBAR ----------------*/

.play-container {
  flex-basis: 50%;
  display: flex;
  max-height: 650px;
}


/*---------------- START DRAG AND DROP ----------------*/
.drag-container-wrapper {
  display: flex;
  /*flex-direction: column;*/
  /*flex-basis: 50%;*/

  border-top: 5px solid pink;
}

.drag-container {
  display: none;
  display: flex;
  flex-basis: 40%;
  /*max-height: 800px;*/
  /*flex-direction: column;*/
  /*margin: 0;*/
  /*flex-wrap: wrap;*/
  /*border-radius: 5px;*/
}

.draggable-items {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.action-list,
.programming-list,
.drop-zone-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.action-container {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  height: 50%;
  background-color: #feeee7;

  border: 1px solid #feeee7;

  overflow: auto;
}

.action-header {
  text-align: center;
  font-weight: 700;
}

.action-list li {
  background-color: #f47a42;
  text-align: center;
  width: 80%;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem auto;
  color: #fff;
}

.programming-container {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  height: 50%;
  background-color: #e7f0fe;

  overflow: auto;
}

.programming-header {
  text-align: center;
  font-weight: 700;
}

.programming-list li {
  background-color: #4286f4;
  text-align: center;
  width: 80%;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem auto;
  color: #fff;
}

.drop-zone-container {
  display: flex;
  position: static;
  /*display: none;*/
  flex-direction: column;
  flex-basis: 50%;
  background-color: #fff;
  /*max-height: 800px;*/
  overflow: auto;
  /*height: 800px;*/
  border-top-right-radius: 10px;
}

.drop-zone-header {
  text-align: center;
  background-color: #fff;
}

.drop-zone li {
  /*background-color: green;*/
  text-align: center;
  width: 80%;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem auto;
  color: #fff;
}

.drop-zone-item {
  width: 80%;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem auto;
}

.drop-zone-program { /* program item */
  background-color: green;
  text-align: center;
  width: 80%;
  border-radius: 10px;
  padding: .5rem;
  margin: 1rem auto;
  color: #fff;
}
/*---------------- START DRAG AND DROP ----------------*/




button {
  /*text-align: right;*/
  border: 2px solid #0277bd;
  background: #0277bd;
  padding: 10px 20px;
  /*text-decoration: none;*/
  border-radius: 5px;
  color: white;
  /*font-weight: 400;*/
}

.konva-container {
  flex-basis: 50%;
  background-color: #fff;
  right: 0;
  /*left: 0;
  top: 0;
  bottom: 0;*/
  position: absolute;
  border-top-left-radius: 10px;
  /*border: 0;*/
}

/*.konva-container > div:first-child > div:first-child {
  background-color: red;
}*/

/*.konvajs-content {
  margin-right: 0;
}*/

#play-button {
  padding: 10px 15px;
  margin-right: 10px;
  /*position: absolute;
  z-index: 100;*/
}

#restart-button {
  padding: 10px 15px;
  margin-right: 10px;
}

#clear-program-btn {
  padding: 10px 15px;
  margin-right: 10px;
}

#next-challenge-btn {
  padding: 10px 15px;
  background-color: darkred;
}
